.FormField {
    position: relative;
    display: flex;
    align-items: center;
    margin: 12px 4px 4px 0px;
    padding: 4px 4px 4px 0px;

    &.FormField-stacked {
        flex-wrap: wrap;

        .FormFieldLabelSection {
            margin-bottom: 4px;
        }
        .FormFieldInputSectionRow {
            flex: 1;
            display: flex;
            flex-direction: row;
            .FormFieldInputSection {
                margin-right: 4px;
            }
        }
    }

    .FormFieldLabelSection {
        box-sizing: border-box;
        padding-right: 12px;
        cursor: default;
        white-space: nowrap;
        color: var(--text-light);
        font-weight: var(--bold-font);

        &.onTop {
            align-self: flex-start;
            margin-top: 6px;
        }
    }

    .FormFieldInputSectionRowGroup {
        margin-top: 30px;
    }

    .FormFieldInputSectionRow {
        &:first-of-type {
            margin-top: 0px;
        }
    }

    .FormFieldInputSection {
        flex-grow: 1;
    }

    .FormFieldHelpSection {
        margin-left: 8px;
    }

    .FormFieldErrorSection {
        flex: 1 1 16%;
        padding: 2px 0px 0px 4px;
        box-sizing: border-box;
        color: var(--color-false);
    }

    .FormFieldRequired {
        margin-left: 8px;
    }
}

.FormSectionHeader {
    cursor: default;
    padding-top: 8px;
    margin: 16px 0px 8px;
    font-weight: var(--bold-font);
    font-family: var(--font-title);
    span {
        font-size: var(--med-text-size);
        white-space: nowrap;
    }
}
.popover-content {
    .FormFieldHelpSection {
        p:not(:last-child) {
            margin-bottom: 8px;
        }
        a {
            color: var(--color-accent-dark);
            font-weight: var(--bold-font);
        }
    }
}
