@import './../../scss_variables.scss';

.Button {
    display: inline-flex;
    margin: 0px 4px;
    border: var(--outer-border);
    border-radius: var(--border-radius);
    text-align: center;
    cursor: pointer;
    padding: 4px 8px;
    background-color: inherit;
    align-items: center;
    white-space: nowrap;

    .Icon {
        svg {
            padding: 15%;
        }
    }

    .Icon + span {
        margin-left: 3px;
    }

    // special buttons
    &.inline-text {
        @include pushable();
        color: inherit;
        font-size: inherit;
        font-weight: 700;
        text-transform: uppercase;

        .Icon {
            svg {
                width: 20px;
                height: 20px;
            }
        }

        &:hover {
            background-color: var(--hover-bg-color);
        }
    }

    &.soft {
        user-select: none;
        background: var(--light-bg-color);
        color: var(--light-text-color);
        font-weight: bold;
        border: none;

        &:hover {
            color: var(--text-color);
        }
    }

    &.full-width {
        display: flex;
        justify-content: center;
        margin: 0px;
        border: none;
        border-radius: 0px;
        padding: 8px;
        background-color: var(--light-bg-color);
        font-weight: bold;
        text-transform: uppercase;
    }

    &.cancel {
        border-color: var(--color-false-dark);
        color: var(--color-false-dark);
    }

    &.confirm {
        border-color: var(--light-text-color);
        color: var(--light-text-color);
    }

    // props
    &.small {
        margin: 0px;
        padding: 1px 5px;
    }

    &.disabled {
        cursor: not-allowed;
        background-color: var(--color-null);
        color: var(--light-text-color);
        border-color: var(--color-null);
    }

    &.borderless {
        border: none;

        &:hover {
            background-color: var(--hover-bg-color);
        }
    }
    &.inverted {
        background-color: var(--color-accent-bg);
        color: inherit;
        font-weight: 500;
    }

    &.attached-right {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-right: 0px;
    }
    &.attached-left {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-left: 0px;
    }

    &.pushable {
        @include pushable();
    }
}
