.IconButton {
    cursor: pointer;
    padding: 10px;
    color: var(--icon-color);
    transition: color 0.2s ease-out;
    transition: fill 0.2s ease-out;
    display: inline-flex;

    &.no-padding {
        padding: 0px;
    }
    &:hover {
        color: var(--icon-hover-color);
    }
    &.active {
        color: var(--icon-active-color);
    }
    &.fill {
        svg {
            fill: var(--icon-color);
        }
        &:hover {
            svg {
                fill: var(--icon-hover-color);
            }
        }
        &.active {
            svg {
                fill: var(--icon-active-color);
            }
        }
    }

    &.disabled {
        cursor: not-allowed;
    }
    &.ping {
        background-color: none;
        .IconButton-ping {
            position: absolute;
            width: 8px;
            height: 8px;
            background-color: var(--color-accent);
            border-radius: 50%;
            right: 10px;
            top: 10px;
        }
    }
}
