.TextToggleButton {
    font-size: var(--small-text-size);
    color: var(--light-text-color);
    font-weight: var(--bold-font);
    user-select: none;

    &.active {
        color: var(--color-accent-text);
    }
}
