.BoardDetailedList {
    .BoardListItem {
        display: flex;
        flex-direction: column;
        border-radius: var(--border-radius);
        padding: 8px 16px;
        background-color: var(--bg-lightest);
        margin-bottom: var(--margin);
        min-width: max-content;

        &:hover {
            background-color: var(--bg-hover);
        }

        .BoardListItem-top {
            align-items: flex-end;
        }

        .UserAvatar {
            margin-right: 8px;
        }

        .BoardListItem-description {
            color: var(--text-light);
        }
    }
}
