.Landing {
    padding: 48px;
    height: 100%;

    justify-content: space-between;
    align-items: flex-start;

    .Landing-top {
        .Landing-greeting {
            margin-left: 4px;
            font-weight: bold;
            font-size: var(--xlarge-text-size);
        }

        .Landing-desc {
            margin-left: 4px;

            font-weight: bold;
            font-size: var(--large-text-size);
            color: var(--text-light);
        }
    }

    .Landing-bottom {
        align-items: flex-start;

        width: 100%;
        max-width: 960px;
        padding: 0px 12px;

        .Landing-list {
            .Landing-data-doc {
                cursor: pointer;
            }
        }
    }
}
