.SearchContainer {
    padding: 10px;
    display: flex;
    .SearchButton {
        flex-grow: 1;
        background-color: var(--bg-light);
        border-radius: var(--border-radius);
        .Button {
            padding: 10px 15px;
            > span {
                width: 100%;
                .SearchButton-tip {
                    color: var(--text-light);
                    .Icon {
                        padding-bottom: 1px;
                    }
                }
            }
        }
    }
}
