.JobStatus {
    .JobStatus-controls {
        margin-bottom: 12px;
        .SearchBar {
            width: 360px;
            margin-right: 8px;
        }
    }
}

.Modal {
    .JobStatus {
        margin: 12px 24px;
    }
}
