.EntitySidebar {
    height: 100%;
    background-color: var(--bg);

    position: relative;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-top-right-radius: var(--border-radius);

    .apps-list {
        margin-bottom: 8px;
        > * {
            padding-bottom: 4px;
            display: flex;
            justify-content: center;
        }
        .IconButton,
        .QueryExecutionButton,
        .InfoMenuButton,
        .QueryEngineStatusButton,
        .UserMenu {
            width: 100%;
        }
    }
    .sidebar-list {
        .active {
            background-color: var(--bg-lightest);
        }
    }
}
.collapsed .EntitySidebar {
    .sidebar-list {
        .active {
            background-color: transparent;
            color: var(--icon);
        }
    }
}
