.EntitySidebar {
    height: 100%;
    background-color: var(--bg-color);

    position: relative;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
