.EnvironmentTopbar {
    display: flex;
    flex-direction: row;
    padding: var(--padding-sm);
    background-color: var(--bg-lightest);

    .env-icon-wrapper {
        display: inline-block;

        &:not(:first-child) {
            margin-left: var(--margin-xs);
        }
    }
    .env-icon {
        font-size: var(--xxxsmall-text-size);
        font-family: var(--font-monospace);
        background-color: var(--bg-light);
        color: var(--text-color);
        border-radius: var(--border-radius-sm);
        transition: background-color 0.3s ease-out;
        user-select: none;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        width: 36px;
        height: 36px;

        &.selected {
            background-color: var(--bg-select);
        }

        &.disabled {
            opacity: 0.45;
            cursor: not-allowed;
        }

        .env-icon-text {
            word-break: break-all;
            text-align: center;
        }
    }
}
