.EnvironmentAppSidebar {
    .EnvironmentAppSidebar-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;

        .sidebar-content-main {
            display: flex;
            flex: 1;

            .sidebar-content-main-navigator {
                flex: 1;
                overflow: hidden;
                background-color: var(--bg-lightest);

                > div {
                    padding-top: var(--padding-sm);
                    padding-bottom: var(-padding-sm);
                    > div {
                        margin-left: var(--margin-sm);
                        margin-right: var(--margin-sm);
                    }
                }

                .list-header {
                    background: var(--bg-light);
                    margin-bottom: var(--margin-sm);
                    border-radius: var(--border-radius-sm);
                    overflow: hidden;
                }

                .QueryViewNavigator,
                .QuerySnippetNavigator {
                    height: 100%;
                }
            }
        }

        .collapse-sidebar-button {
            height: 35px;
            width: 25px;
            padding: 5px 0px;
            cursor: pointer;

            display: flex;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            left: 100%;

            z-index: 30;
            opacity: 0;
        }

        &:hover .collapse-sidebar-button {
            opacity: 0.4;
        }
        .collapse-sidebar-button:hover {
            opacity: 1;
        }
    }

    &:not(.collapsed) {
        .EntitySidebar {
            border-right: var(--border);
        }

        .sidebar-environment-picker {
            border-bottom: var(--border);
        }

        .sidebar-content-main {
            overflow: hidden;
        }
    }

    &.collapsed {
        .sidebar-environment-picker {
            text-align: center;
            .collapsed-env {
                padding: var(--padding-sm);
            }
        }

        border-right: var(--border);
    }

    .env-icon {
        font-size: var(--xxxsmall-text-size);
        font-family: var(--font-monospace);
        background-color: var(--bg-light);
        color: var(--text);
        border-radius: var(--border-radius-sm);
        transition: background-color 0.3s ease-out;
        user-select: none;

        display: inline-flex;
        justify-content: center;
        align-items: center;

        width: 36px;
        height: 36px;

        &.selected {
            font-weight: var(--bold-font);
            color: var(--color-accent-dark);
            background-color: var(--color-accent-lightest-0);
        }

        &.disabled {
            opacity: 0.45;
            cursor: not-allowed;
        }

        .env-icon-text {
            word-break: break-all;
            text-align: center;
        }
    }
}
