.StatusIcon {
    display: inline-flex;
    color: var(--color-null);
    margin-right: 6px;
    i {
        vertical-align: middle;
    }

    &.success {
        color: var(--color-true);
    }
    &.warning {
        color: var(--color-yellow);
    }
    &.error {
        color: var(--color-false);
    }
    &.running {
        color: var(--color-blue);
    }
}
