.QuerySnippetNavigator {
    display: flex;
    flex-direction: column;

    .snippets-wrapper {
        flex: 1;
        position: relative;
    }

    .snippet-search {
        border-bottom: var(--border);
        .SearchBar {
            flex-grow: 1;
        }
        .IconButton {
            padding: 4px;
            .feather-filter {
                padding: 1px;
            }
        }
    }
}

.QuerySnippetFilterPicker {
    padding: 10px;
}
