.DataDocLeftSidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 5;

    display: flex;
    flex-direction: column;

    .sidebar-content {
        margin-top: 88px;
    }

    .contents-toggle-button {
        border: var(--border);
        border-left: none;
        margin-right: 0;
        padding-right: 8px;
    }

    .sidebar-content-table,
    .sidebar-content-contents {
        width: 280px;
        height: 80vh;
    }

    .sidebar-content-table {
        .DataTableViewMini {
            overflow-x: hidden;
            overflow-y: auto;
            max-height: 100%;
        }
    }

    .sidebar-content-contents {
        margin-right: 8px;
        border: var(--border);
        border-left: none;
        border-radius: var(--border-radius);
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        display: flex;
        flex-direction: column;

        .contents-panel-header {
            padding: 0px 12px;
            border-bottom: var(--border);

            .Title {
                user-select: none;
            }
        }
    }

    &.hidden {
        visibility: hidden;
    }
}
