.UserEnvironmentEditor {
    .UserEnvironmentEditor-list {
        height: 160px;
        background-color: var(--bg-light);
        border-radius: var(--border-radius-sm);
        margin-top: 8px;
        .ReactVirtualized__Grid {
            padding-bottom: 12px;

            .UserEnvironmentEditor-user {
                margin-left: 4px;
                .IconButton {
                    padding: 8px;
                }
            }
        }
    }
}
