.BoardHeader {
    > div:first-child {
        align-items: flex-end;
    }
    .BoardHeader-title input {
        font-weight: var(--extra-bold-font);
    }
    .EditableTextField .editor-wrapper {
        background-color: var(--bg-lightest);
        padding: 4px 8px;
        .RichTextEditor {
            padding: 2px;
        }
    }
}
