.Board {
    .BoardItem {
        cursor: default;
        max-width: 960px;
        margin-right: auto;
        border-radius: var(--border-radius);
        background-color: var(--bg-light);
        .BoardItemIcon {
            color: var(--icon);
        }
        &:hover {
            background-color: var(--bg-hover);
        }
    }
}
