.BoardItem {
    cursor: default;
    margin-right: auto;
    border-radius: var(--border-radius-sm);
    background-color: var(--bg-lightest);

    .BoardItem-controls .Icon {
        margin-right: 16px;
    }

    .EditableTextField .edit-mode-button {
        margin-right: -8px;
    }
}
