.BoardHeader {
    > div:first-child {
        align-items: flex-end;
    }
    .EditableTextField .editor-wrapper {
        background-color: var(--bg-lightest);
        padding: 4px 8px;
        .RichTextEditor {
            padding: 2px;
        }
    }
    > .RichTextEditor {
        padding: 0px 0px 8px 8px;
    }
}
