.Board {
    .BoardItem {
        cursor: default;
        max-width: 960px;
        margin-right: auto;
        border: var(--border);
        border-radius: var(--border-radius);
        background-color: var(--light-bg-color);
        .BoardItemIcon {
            color: var(--icon-color);
        }
        &:hover {
            border-color: var(--hover-border-color);
        }
    }
}
