.Board {
    position: relative;
    min-height: 100%;
    width: 100%;
    display: flex;

    .Board-content {
        flex: 0 1 var(--max-width);
        margin: 0 auto;
        padding: 36px 16px;
        overflow: hidden;
    }
    .BoardRightSidebar {
        position: sticky;
        top: 0;
        z-index: 9;
    }
}
