.DataTableHeader {
    align-items: flex-start;
    .DataTableHeader-top {
        width: 100%;
    }
    .table-title {
        font-family: var(--font-accent);
    }
    .DataTableHeader-owner-list {
        .owner-badges {
            flex-wrap: wrap;
            min-height: 30px;
        }
    }
    .DataTableHeader-tags {
        .DataTableTags {
            min-height: 34px;
        }
    }
}
