.DataTableHeader {
    align-items: flex-start;
    .DataTableHeader-top {
        width: 100%;
    }
    .table-title {
        font-family: var(--font-accent);
    }
    .header-subtitle {
        align-self: flex-start;
    }
    .DataTableHeader-owner-list {
        .owner-badges {
            flex-wrap: wrap;
            min-height: 30px;
            .UserBadge + .IconButton {
                margin-left: 12px;
            }
        }
    }
    .DataTableTags {
        min-height: 34px;
    }
}
