.DataTableView {
    height: 100%;

    .Container-content {
        width: 100%;
    }

    .DataTableView-tabs {
        z-index: 10;
        position: sticky;
        top: 0;
        background-color: var(--bg);
    }

    .DataTableView-content {
        flex: 1;
    }

    .info-text {
        font-size: var(--text-size);
        color: var(--text-light);
    }
}

.EnvironmentAppRouter-content {
    .DataTableView {
        margin: 24px 48px;
    }
}
