.DataTableHeader {
    align-items: flex-start;
    .DataTableHeader-top {
        width: 100%;
        .table-key {
            font-size: var(--text-size);
            text-transform: uppercase;
            font-weight: var(--bold-font);
            color: var(--text-light);
        }
    }
    .table-title {
        font-family: var(--font-title);
    }
    .header-subtitle {
        text-transform: uppercase;
        font-weight: var(--bold-font);
        color: var(--text-lightest);
        margin-top: 6px;
        align-self: flex-start;
    }
    .owner-badges {
        flex-wrap: wrap;
        .UserBadge {
            margin-top: 4px;
            margin-bottom: 4px;
        }
        .UserBadge + .IconButton {
            margin-left: 12px;
        }
    }
}
