@import '../../scss_variables.scss';

.DataTableColumnCard {
    .Card {
        margin: 16px 0px;

        .DataTableColumnCard-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 12px;

            .column-name {
                min-width: 160px;
            }

            .column-type {
                flex: 1;
                word-break: break-all;
            }
        }

        .EditableTextField .editor-wrapper {
            background-color: var(--bg-light);
        }
    }
}

.DataTableColumnCardNestedType {
    .column-type {
        min-width: 80px;
        word-break: break-all;
    }

    .nested-indent {
        margin-left: 32px;
    }

    .expand-icon {
        margin-left: -32px;
        padding: 0 8px;
    }
}
