.DS_Store
.idea/*
*.iml

package-lock.json
# jenkins job should not delete .env
.env/

yarn-error.log

# Build files
dist/
storybook-static/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Created when running the celery scheduler
celerybeat.pid

# ignore for testing/custom settings
node_modules/*
.vscode/*
*.pyc
.vscode.env
