.DS_Store
.idea/*
*.iml
.env.local
.env.development.local
.env.test.local
.env.production.local


package-lock.json
.env
# virtualenv for development
.virtualenv

# Frontend logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Build files
dist/
storybook-static/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Created when running the celery scheduler
celerybeat.pid

# ignore for testing/custom settings
**/node_modules
node_modules
.vscode/*
*.pyc
.vscode.env

# Jest coverage files
querybook/webapp/coverage/

# Python coverage files
.coverage

# Documentation site
.docusaurus
.cache-loader
build

requirements/local.txt
