#Codemirror-tooltip-container {
    position: fixed;
    z-index: 300;

    opacity: 0;
    transition: opacity 0.4s;
}

.CodeMirrorTooltip {
    background-color: var(--bg-color);
    border: var(--border);
    border-radius: var(--border-radius);

    .rich-text-content {
        max-width: 400px;
        max-height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 8px;

        .table-tooltip-header {
            font-size: var(--text-size);
            color: var(--dark-text-color);
            font-weight: var(--bold-font);
        }
        .tooltip-title {
            font-weight: var(--bold-font);
            margin-bottom: 0;
        }

        .tooltip-content {
            white-space: pre-wrap;
            margin-left: 4px;
        }
    }
}
