.BoardList {
    display: flex;
    flex-direction: column;
    .BoardList-header {
        .SearchBar {
            flex: 1;
        }
    }

    .board-scroll-wrapper {
        flex: 1 0 100px;
    }
}
