.InputField {
    input {
        background: var(--ifm-footer-background);
        color: var(--ifm-color-emphasis-900);
        font-size: var(--med-text-size);
        border: 1px solid var(--ifm-color-emphasis-400);
        border-radius: 5px;
        padding: 4px 8px;

        width: 100%;
    }
    margin-bottom: 0.5rem;

    @media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
        min-width: 80%;
    }

    @media only screen and (min-width: 736px) {
        max-width: 600px;
        width: 80%;
    }
}
