.NavigatorBoardView {
    &.dragged-over {
        background-color: var(--color-accent-bg-hover);
    }

    .board-header-section {
        &.active {
            background-color: var(--hover-bg-color);
        }
        &:hover {
            background-color: var(--light-bg-color);
        }
        .board-header-title {
            cursor: pointer;
            overflow: hidden;

            .Title {
                color: var(--light-text-color);
                text-transform: capitalize;
                user-select: none;
            }
        }

        .header-control-section {
            display: inline-flex;
            align-items: center;

            .hover-control-section {
                display: none;
            }
        }

        &:hover {
            .hover-control-section {
                display: inline-flex;
            }
        }
    }
}

.DataDocNavigatorBoardSection {
    .navigator-board-header {
        background-color: var(--select-bg-color);
        user-select: none;
        cursor: pointer;

        .Title {
            color: var(--title-color);
        }
    }
}
