.DataDocNavigatorSection {
    margin-bottom: var(--margin-sm);

    .navigator-header {
        background-color: var(--bg-light);
        border-radius: var(--border-radius-sm);
        margin-bottom: var(--margin-xs);
        user-select: none;
        cursor: pointer;
        .Title {
            color: var(--text-title);
            text-transform: capitalize;
        }
    }
}
