.DataDocGridItem {
    .delete-grid-item-button {
        padding: 0;
        .Icon svg {
            padding: 0;
        }
        visibility: hidden;
    }
    &:hover {
        .delete-grid-item-button {
            visibility: visible;
        }
    }
}

.DataDocHoverContent {
    .DataDocHoverContent-date {
        font-size: var(--xsmall-text-size);
    }
}
