.NavigatorBoardView {
    &.dragged-over {
        background-color: var(--color-accent-bg-hover);
    }

    .board-header-section {
        .board-header-title {
            cursor: pointer;
            overflow: hidden;

            .Title {
                color: var(--light-text-color);
                text-transform: capitalize;
                user-select: none;
            }
        }

        .header-control-section {
            display: inline-flex;
            align-items: center;

            .hover-control-section {
                display: none;
            }
        }

        &:hover {
            .hover-control-section {
                display: inline-flex;
            }
        }
    }

    .board-item-list {
        .board-item-list-row {
            .Icon svg {
                padding: 0;
            }

            .ListLink {
                max-width: 100%;
            }

            .delete-board-item-button {
                padding: 0;
                visibility: hidden;
            }

            &:hover {
                .delete-board-item-button {
                    visibility: visible;
                }
            }
        }
    }
}

.DataDocNavigatorBoardSection {
    .navigator-board-header {
        background-color: var(--light-bg-color);
        user-select: none;
        cursor: pointer;

        .Title {
            color: var(--light-text-color);
        }
    }
}
