.DataDocNavigator {
    height: 100%;

    .data-docs {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .IconButton {
        padding: 4px;
    }

    .list-header {
        display: flex;
        justify-content: space-between;

        // for safari
        flex-shrink: 0;
        .SearchBar {
            flex-grow: 1;
            input {
                width: 100%;
                padding: 12px;
            }
        }
    }

    .tabs {
        padding-top: 5px;
    }

    .querybook-table-filters {
        height: 30px;
        margin: 10px;
        position: relative;
        box-sizing: border-box;
    }

    .nav-favorite-dragged-over {
        background-color: var(--color-accent-lightest);

        .DataDocNavigatorSection .navigator-header {
            background-color: var(--color-accent-lightest);
        }
    }
}

@-moz-document url-prefix() {
    .DataDocNavigator .data-docs .list-item {
        white-space: nowrap;
    }
}
