.DataDocNavigatorSection {
    margin-bottom: var(--margin-sm);
    .navigator-header {
        background-color: var(--bg-light);
        border-radius: var(--border-radius-sm);
        user-select: none;
        cursor: pointer;

        & + div {
            margin-top: var(--margin-xs);
        }
    }
}
