// Bulma overrides
$primary: #fff;

// $modal-background-background-color: var(--bg-color);
$modal-card-body-background-color: var(--bg-color);

$input-color: var(--text-color);
$input-background-color: var(--bg-color);
$input-border-color: var(--light-bg-color);

$box-color: var(--text-color);
$box-background-color: var(--bg-color);

$content-blockquote-background-color: var(--light-bg-color);
$content-blockquote-border-left: 4px solid var(--color-accent);
$content-blockquote-border-radius: 0px;
$content-blockquote-padding: 12px;
$content-heading-color: var(--dark-text-color);
$content-pre-padding: 0px 4px 0px 7px;

$pagination-color: var(--dark-text-color);
$pagination-hover-color: var(--light-text-color);
$pagination-border-color: var(--border-color);
$pagination-hover-border-color: var(--border-color);

$family-sans-serif: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Arial',
    sans-serif;
