.UserMenu {
    padding: 10px 10px 0px 10px;

    color: var(--icon-color);

    &:hover {
        color: var(--icon-hover-color);
    }

    .user-menu-title {
        font-size: var(--xxsmall-text-size);
    }

    .UserAvatar {
        width: 24px;
        height: 24px;
    }
}
