.AdminAppEntitySidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    height: 100%;
    background-color: var(--bg-color);
    text-align: center;

    .AdminAppEntitySidebar-main,
    .AdminAppEntitySidebar-bottom {
        .AdminAppEntitySidebar-top {
            box-sizing: content-box;
            border-bottom: var(--border);
            font-size: var(--small-text-size);
            letter-spacing: 1px;
            cursor: pointer;
            user-select: none;
        }
        .AdminAppEntitySidebar-item {
            margin-left: 2.5px;
            cursor: pointer;
            user-select: none;
            font-weight: 500;

            .IconButton {
                margin-right: 8px;
            }
            &:hover {
                .AdminAppEntitySidebar-title {
                    color: var(--text-color);
                }
                .IconButton {
                    color: var(--icon-active-color);
                }
            }
        }
    }
}
