.AdminAppNavigator {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    .AdminAppNavigator-top {
        display: flex;
        height: 44px;
        box-sizing: content-box;
        border-bottom: 1px solid var(--border-color);
        justify-content: space-between;
        flex-shrink: 0;
        .SearchBar {
            flex-grow: 1;
            padding-right: 12px;
        }
        .IconButton {
            padding: 4px;
        }
    }
    .AdminAppNavigator-items {
        overflow-x: hidden;
        overflow-y: auto;
        .IconButton {
            position: absolute;
            bottom: 0px;
            right: 0px;
            padding: 8px;
        }
    }
}
