.SearchBar {
    display: flex;
    align-items: center;

    .DebouncedInput {
        flex: 1;
        input {
            padding: 12px;
        }
    }

    .search-bar-clear-sep {
        border-left: var(--border);
        height: 20px;
    }
}
