# Make sure this is consistent with mysql part of docker-compose.yml
FLASK_SECRET_KEY: SOME_RANDOM_SECRET_KEY

DATABASE_CONN: mysql+pymysql://test:passw0rd@mysql:3306/querybook2?charset=utf8mb4
REDIS_URL: redis://redis:6379/0
ELASTICSEARCH_HOST: http://elasticsearch:9200
# ELASTICSEARCH_CONNECTION_TYPE: aws
# Uncomment for email
# EMAILER_CONN: dockerhostforward

# Uncomment below to enable AI Assistant for local development.
# AI_ASSISTANT_PROVIDER: openai
# AI_ASSISTANT_CONFIG:
#     default:
#         model_args:
#             model_name: gpt-4o-mini
#             temperature: 0
#         reserved_tokens: 1024
#     table_summary:
#         model_args:
#             model_name: gpt-4o-mini
#             temperature: 0
#     sql_summary:
#         model_args:
#             model_name: gpt-4o-mini
#             temperature: 0
#     table_select:
#         model_args:
#             model_name: gpt-4o-mini
#             temperature: 0
#     sql_complete:
#         model_args:
#             model_name: gpt-4o-mini
#             temperature: 0

# Uncomment below to enable vector store to support embedding based table search.
# Please check langchain doc for the configs of each provider.
# EMBEDDINGS_PROVIDER: openai
# EMBEDDINGS_CONFIG: ~
# VECTOR_STORE_PROVIDER: opensearch
# VECTOR_STORE_CONFIG:
#     embeddings_arg_name: 'embedding_function'
#     opensearch_url: http://elasticsearch:9200
#     index_name: 'vector_index_v1'

# API Access Token restrictions
# List of allowed environment ids for API access token requests.
# Format: [<id>, ...] (e.g., [1, 2, 3])
# If empty or not set, all environments are allowed for API token requests.
# Example:
# API_ACCESS_TOKEN_ALLOWED_ENVIRONMENTS:
#   - 1
