version: '2.1'

services:
    base:
        image: datahub:latest
        cap_add:
            - SYS_PTRACE
        tmpfs: /tmp:exec,mode=777
        # tty: true
        # stdin_open: true
        network_mode: 'host'
        environment:
            PORT: ${PORT}
        volumes:
            # This is for code change via watcher
            - $PWD:/opt/datahub
            # See https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /opt/datahub/node_modules/
            # Make sure the build files don't leak back
            - /opt/datahub/dist/
            # Local DB for result store
            - file:/opt/store/
    web:
        extends:
            service: base
        command: './datahub/scripts/runservice prod_web'
    worker:
        extends:
            service: base
        command: ./datahub/scripts/runservice prod_worker -c 150 -l info -Ofair -n celery@%h
    scheduler:
        extends:
            service: base
        command: './datahub/scripts/runservice prod_scheduler'
volumes:
    file:
