version: '2.1'

services:
    base:
        image: datahub-dev:latest
        cap_add:
            - SYS_PTRACE
        tmpfs: /tmp:exec,mode=777
        tty: true
        stdin_open: true
        network_mode: 'host'
        environment:
            PORT: ${PORT}
        # restart: "always"
        volumes:
            # This is for code change via watcher
            - $PWD:/opt/datahub
            # See https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
            - /opt/datahub/node_modules/
            # Make sure the build files don't leak back
            - /opt/datahub/dist/
            # Local DB for result store
            - ~/code/datahub/:/opt/store/
        extends:
            service: base
        command: './datahub/scripts/docker_run_interactive ./datahub/scripts/runservice web ${PORT-10001}'
    worker:
        extends:
            service: base
        command: ./datahub/scripts/docker_run_interactive ./datahub/scripts/runservice worker
    scheduler:
        extends:
            service: base
        command: './datahub/scripts/docker_run_interactive ./datahub/scripts/runservice scheduler'
    terminal:
        extends:
            service: base
        command: bash
