.Announcement {
    border-radius: var(--border-radius-sm);
    background-color: var(--bg-light);
    font-weight: var(--bold-font);
    color: var(--text);
    margin: 8px;
    padding: 4px 8px;

    strong {
        color: var(--color-accent-dark);
    }
    + .Announcement {
        margin-top: 0px;
    }
}
