.Announcement {
    border-radius: 0;
    margin-bottom: 0px;
    background-color: var(--invert-bg-color);
    padding: 8px 8px 8px 16px;
    font-weight: var(--bold-font);

    color: var(--invert-text-color);
    strong {
        color: var(--invert-text-color);
    }
    + .Announcement {
        border-top: var(--border);
    }
}
