.Icon {
    display: inline-flex;

    &.fill {
        svg {
            fill: currentColor;
        }
    }

    svg.feather-loader {
        animation: loading 3s linear forwards infinite;
        color: var(--icon-light);
    }

    &.accent {
        color: var(--color-accent-dark);
    }
    &.true {
        color: var(--color-true-dark);
    }
    &.false {
        color: var(--color-false-dark);
    }
    &.warning {
        color: var(--color-warning-dark);
    }
    &.light {
        color: var(--icon-light);
    }
}

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}
