.AdminTask {
    .AdminTask-content {
        margin: 48px 0px 82px;

        .Table {
            overflow-x: scroll;
            .AdminTask-clickable {
                cursor: pointer;
                height: 100%;
                width: 100%;
            }
            .rt-tr:hover {
                .rt-td {
                    background-color: var(--bg-hover);
                }
            }
            .AdminTask-toggle {
                cursor: default;
            }
        }
    }
}
