.AppAdmin {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;

    .AppAdmin-content {
        flex: 1;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0px 36px;

        > div {
            margin: 0px auto;
            max-width: 960px;
            height: 100%;
            padding: 24px 0px;
        }

        .AdminLanding {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
        .AdminLanding-top {
            margin-left: 16px;

            .AdminLanding-title {
                font-size: var(--xxxlarge-text-size);
                font-family: var(--font-accent);
            }
            .AdminLanding-desc {
                color: var(--text-light);
                font-size: var(--text-size);
                font-weight: var(--light-bold-font);
            }
        }
        .AdminLanding-content {
            .AdminLanding-cards {
                flex-wrap: wrap;
                justify-content: flex-end;
                .Card {
                    margin: 16px 24px;
                    .Card-title {
                        font-weight: var(--bold-font);
                    }
                    .Card-content {
                        .AdminLanding-card-content-date {
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        .AdminForm {
            min-width: 480px;
            max-width: 720px;
            margin: 0px auto;
            .AdminForm-main {
                display: flex;
                flex-direction: row;

                .AdminForm-left {
                    flex-grow: 1;
                    text-align: left;
                    overflow-y: hidden;
                    overflow-x: hidden;
                    .AdminForm-button-box {
                        display: flex;
                        justify-content: center;
                        margin-top: 16px;
                    }
                }
                .AdminForm-right {
                    width: 180px;
                    display: flex;
                    flex-direction: column;
                    margin-left: 16px;
                    padding-top: 32px;
                    .FormField {
                        margin: 0px;
                        .FormFieldLabelSection {
                            min-width: auto;
                            flex-grow: 1;
                            font-size: var(--small-text-size);
                        }
                        .FormFieldInputSection {
                            display: flex;
                            align-items: center;
                        }
                    }

                    .AdminForm-bottom {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        margin-top: auto;
                        margin-bottom: 0px;
                        .Button {
                            margin-top: 8px;
                        }
                    }
                }
            }
            .AdminForm-section {
                margin: 24px 0px 36px 8px;
                .AdminForm-section-top {
                    margin-bottom: 16px;
                    .AdminForm-section-title {
                        white-space: nowrap;
                        font-size: var(--text-size);
                        font-weight: var(--bold-font);
                    }
                    .AdminForm-section-button {
                        display: flex;
                        margin-left: 4px;
                        cursor: pointer;

                        .lucide-chevron-down {
                            margin-top: 6px;
                        }
                    }
                }
                .AdminForm-section-content {
                    margin: 8px 0px;
                }
            }
        }

        .ReactTable {
            .rt-table {
                .rt-th,
                .rt-td {
                    padding: 8px 16px;
                }
                .rt-tbody {
                    .rt-tr {
                        background-color: var(--bg);
                    }
                }
            }
        }

        .AdminTaskStatus {
            .TaskStatus {
                margin: 48px 0px 82px;
            }
        }
    }

    .Tabs {
        li {
            min-width: 120px;
        }
    }
}
