.DataDocViewersList {
    width: 400px;

    > div:not(:last-child) {
        padding-left: 8px;
        padding-right: 8px;
    }

    .public-row-description {
        border-top: var(--border);
        padding-top: 1rem;
        text-align: center;
    }

    .datadoc-add-user-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .add-user-icon {
            margin-top: 6px;
            margin-right: 6px;
        }

        .user-select-wrapper {
            flex: 1;
            margin-right: 0.5rem;
            color: var(--invert-text-color);
        }
    }

    .viewers-list-wrapper {
        // Each row is 65px, show at most 5
        max-height: 320px;
        overflow-y: auto;
        padding-bottom: 0rem;
        padding-top: 0rem;
        border-top: var(--border);

        > div {
            padding-left: 8px;
            padding-right: 8px;
        }

        > div:not(:last-child) {
            border-bottom: var(--border);
        }
    }

    .viewers-user-row {
        display: flex;
        justify-content: space-between;
        padding: 8px 0px;

        .access-info {
            display: flex;
            align-items: center;
            text-align: right;
        }
    }
}
