.ViewerPermissionPicker {
    .permission-text {
        margin-right: 0.5rem;

        &:not(.read-only) {
            cursor: pointer;
        }

        .caret-icon {
            margin-right: 0.25rem;
        }
    }
}
