.QueryView {
    padding: 16px 24px;

    .query-execution-section-inner {
        font-size: var(--xsmall-text-size);
    }

    .editor {
        margin: 5px 0px;
    }

    .ErrorPage {
        min-height: 400px
    }
}
