.Checkbox {
    line-height: 1;
    display: flex;
    flex-direction: row;
    white-space: nowrap;

    input[type='checkbox'] {
        cursor: pointer;
        appearance: button;
        border: solid 1px var(--border-color);
        background-color: var(--bg-color);

        margin-right: 8px;
        width: 16px;
        height: 16px;
        outline: none;
    }

    input[type='checkbox']:checked::before {
        content: ' ';
        background-color: var(--border-color);
        width: 12px;
        height: 12px;
        display: block;
        margin: 1px 0px 0px 1px;
    }
}
