.Checkbox {
    label {
        line-height: 1;
        white-space: nowrap;
        position: relative;

        display: flex;
        flex-direction: row;
        align-items: center;

        cursor: pointer;
        user-select: none;

        input[type='checkbox'] {
            appearance: unset;
            border: solid 1px var(--border-color);
            background-color: var(--bg-color);
            cursor: pointer;

            margin-right: 8px;
            width: 16px;
            height: 16px;
            outline: none;
        }

        &.checked::before {
            content: ' ';
            background-color: var(--border-color);
            width: 12px;
            height: 12px;
            display: block;
            margin: 2px 0px 0px 2px;
            border-radius: 2px;
            cursor: pointer;
            pointer-events: none;

            position: absolute;
            left: 1px;
            top: 1px;
        }
    }
}
