.UsersSection {
    .UserReview {
        padding: 0px 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .UserReview-comment {
            font-style: italic;
        }
        .UserReview-name {
            font-size: var(--xsmall-text-size);
            color: var(--ifm-color-emphasis-500);
            text-align: right;
        }
    }
}
