.DataDocScheduleItem {
    background-color: var(--bg-lightest);
    border-radius: var(--border-radius-sm);

    padding: var(--padding) var(--padding-lg);
    .schedule-text {
        font-size: var(--text-size);
    }
    .next-text {
        color: var(--text-light);
    }

    .DataDocScheduleItem-bottom {
        align-items: flex-end;
    }
}
