.QueryComposer {
    width: 100%;
    overflow: hidden;

    .QueryComposer-header {
        border-bottom: 1px solid var(--border-color);
        padding: 0px 20px;
        height: 45px;
        display: table;

        // for safari
        width: 100%;

        .QueryComposer-header-vertical {
            display: table-cell;
            vertical-align: middle;
        }
    }

    .QueryComposer-content-editor {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;

        .query-editor-wrapper {
            flex: 2;
            overflow: auto;
            position: relative;

            .SearchAndReplaceBar {
                position: absolute;
                z-index: 9;
                right: 40px;
            }
        }

        .query-execution-wrapper {
            height: 100%;
            flex: 1;
            overflow-y: auto;
            border-top: var(--border);

            .QueryComposerExecution {
                padding: 0px 20px;
            }
        }
    }
}
