@import './../../scss_variables.scss';

.QueryViewNavigator {
    position: relative;

    .list-header {
        background-color: transparent !important;
    }

    .QueryViewFilter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        padding: 2px 0px 2px 8px;

        .QueryViewFilter-tags,
        .QueryViewFilter-icons {
            display: flex;
            align-items: center;
        }

        .QueryViewFilter-tags {
            flex-wrap: wrap;
            min-height: 100%;

            .TagGroup {
                margin-right: 8px;
                margin-top: 2px;
                + .TagGroup {
                    margin-left: 0px;
                }
            }
        }
        .QueryViewFilter-icons {
            .IconButton {
                padding: 4px;
                .lucide-filter {
                    padding: 1px;
                }
                .lucide-refresh-cw {
                    padding: 2px;
                }
            }
        }
    }

    .scroll-wrapper {
        flex: 1;
        overflow-y: auto;
    }

    .no-result-message {
        text-align: center;
        font-size: var(--xlarge-text-size);
        user-select: none;

        padding: 16px;
        font-weight: bold;
        color: var(--text-light);
    }
}

.QueryResult {
    cursor: pointer;
    background: var(--bg-light);
    border-radius: var(--border-radius-sm);
    padding: 8px;
    margin-bottom: var(--margin-xs);

    &:hover,
    &.selected {
        background-color: var(--bg-hover);
    }

    .exec-header {
        white-space: nowrap;
    }

    .query-context {
        @include ellipsis(2);
        word-break: break-all;
    }
}
