.EditableTextField {
    .edit-mode-button {
        cursor: pointer;
        opacity: 0;

        display: flex;
        margin-top: 4px;
        margin-right: 4px;
    }

    &:hover {
        .edit-mode-button {
            opacity: 1;
        }
    }

    &.edit-mode .editor-wrapper {
        border: 1px dashed var(--focus-border-color);
        border-radius: var(--border-radius);
    }

    .editor-wrapper {
        display: flex;
        padding: 8px;
        word-break: break-word;
        align-items: flex-start;

        .RichTextEditor {
            flex: 1;
        }

        border: 1px solid transparent;
    }

    .edit-mode-footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 8px;
    }
}
