.Notification {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    width: 240px;
    background-color: var(--dark-text-color);
    color: var(--bg-color);
    padding: 12px;
    border-radius: var(--border-radius);
    margin-bottom: 12px;

    .notification-progress {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: var(--color-accent);
        height: 4px;
    }

    .Notification-delete-btn {
        float: right;
        color: inherit;
    }
}
