.DataDocViewersBadge {
    cursor: pointer;
    display: inline-block;
    position: relative;

    .views-count {
        font-weight: bold;
    }

    .viewers-badge-viewers {
        display: flex;
        flex-direction: row;

        .viewers-badge-share-button {
            margin-left: 15px;
        }
    }
}
