// Variables
// -----------------------

body {
    // Colors
    --color-primary: #ffffff; // BG-background
    --color-primary-0: #fafafa; // BG-hover background
    --color-primary-1: #f6f6f6; // BG-light background
    --color-primary-2: #f2f2f2; // C-icon
    --color-primary-3: #e4e4e4;
    --color-primary-4: #d3d3d3; // BG-border
    --color-primary-5: #bfbfbf; // C-hover content

    --color-transparent-light: rgba(0, 0, 0, 0.1); // text-select color
    --color-transparent-dark: rgba(255, 255, 255, 0.1); // text-select color

    --color-invert-5: #909090; // C-light text
    --color-invert-4: #808080; // BG-modal background
    --color-invert-3: #656565; // C-large text
    --color-invert-2: #454545; // C-small text
    --color-invert-1: #202020; // BG-invert background
    --color-invert: #101010; // C-dark text

    --color-pink: #f683ad;
    --color-pink-dark: #e64680;
    --color-pink-light: #f9a8c5;
    --color-pink-lightest: rgba(249, 168, 197, 0.4);
    --color-pink-lightest-0: rgba(249, 168, 197, 0.2);

    --color-red: #f68a83;
    --color-red-dark: #f65b50; // cancel button
    --color-red-light: #faa198;
    --color-red-lightest: rgba(250, 161, 152, 0.4);
    --color-red-lightest-0: rgba(250, 161, 152, 0.2);

    // dawn theme
    --color-orange: #f5ac72;
    --color-orange-dark: #ec8d3e;
    --color-orange-light: var(--color-yellow);
    --color-orange-lightest: rgba(255, 210, 117, 0.4);
    --color-orange-lightest-0: rgba(255, 210, 117, 0.2);

    --color-yellow: #ffd275;
    --color-yellow-dark: var(--color-orange);
    --color-yellow-light: #fce3b7;
    --color-yellow-lightest: rgba(252, 227, 183, 0.4);
    --color-yellow-lightest-0: rgba(252, 227, 183, 0.2);

    --color-green: #81a011;
    --color-green-dark: #6a830e; // confirm button
    --color-green-light: #dbeaa3;
    --color-green-lightest: rgba(219, 234, 163, 0.4);
    --color-green-lightest-0: rgba(219, 234, 163, 0.2);

    --color-blue: #85d0ce;
    --color-blue-dark: #34657f;
    --color-blue-light: #c5e2ee;
    --color-blue-lightest: rgba(197, 226, 238, 0.4);
    --color-blue-lightest-0: rgba(197, 226, 238, 0.2);

    --color-null: var(--color-primary-4);

    --color-accent: var(--color-pink);
    --color-accent-dark: var(--color-pink-dark);
    --color-accent-light: var(--color-pink-light);
    --color-accent-lightest: var(--color-pink-lightest);
    --color-accent-lightest-0: var(--color-pink-lightest-0);

    // Colors: Text
    --text: var(--color-invert-2);
    --text-dark: var(--color-invert);
    --text-light: var(--color-invert-5);
    --text-lightest: var(--color-primary-5);
    --text-hover: var(--color-invert-3);

    --text-title: var(--color-invert-3);
    --text-subtitle: var(--color-primary-4);
    --text-invert: var(--color-primary);
    --text-code: var(--color-accent-dark);

    --text-terminal: var(--color-invert-3);

    // Colors:  Content
    --icon: var(--color-primary-5);
    --icon-hover: var(--color-invert-4);
    --icon-active: var(--color-invert-3);

    --pill: var(--color-primary-3);
    --tag: var(--color-invert-2);
    --progress: var(--color-invert-3);

    // Colors: For boolean + warning cases
    --color-true-light: var(--color-green-light);
    --color-true-lightest: var(--color-green-lightest);
    --color-true-lightest-0: var(--color-green-lightest-0);
    --color-true: var(--color-green);
    --color-true-dark: var(--color-green-dark);

    --color-false-light: var(--color-red-light);
    --color-false-lightest: var(--color-red-lightest);
    --color-false-lightest-0: var(--color-red-lightest-0);
    --color-false: var(--color-red);
    --color-false-dark: var(--color-red-dark);

    --color-warning-light: var(--color-yellow-light);
    --color-warning-lightest: var(--color-yellow-lightest);
    --color-warning-lightest-0: var(--color-yellow-lightest-0);
    --color-warning: var(--color-yellow);
    --color-warning-dark: var(--color-yellow-dark);

    // Colors: Background + Borders
    --bg: var(--color-primary);
    --bg-lightest: var(--color-primary-0);
    --bg-hover: var(--color-primary-1);
    --bg-light: var(--color-primary-2);
    --bg-select: var(--color-primary-3);
    --bg-dark: var(--color-primary-4);
    --bg-darkest: var(--color-primary-5);

    --bg-invert: var(--color-invert-1);
    --bg-invert-select: var(--color-invert-2);
    --bg-text-select: var(--color-transparent-light);

    --bg-terminal: var(--color-primary-1);
    --bg-query-editor: var(--bg-lightest);
    --bg-query-editor-gutter: var(--bg-light);

    // Colors: Special Elements
    --red-highlight: rgba(189, 8, 28, 0.5);
    --text-highlight: rgba(255, 255, 0, 0.5);

    --scroll-bar-size: 16px;
    --scroll-bar-color: var(--color-primary-4);
    --scroll-bar-active-color: var(--color-primary-5);

    // Type
    --font-sans-serif: BlinkMacSystemFont, -apple-system, 'Avenir Next',
        'Avenir', 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif,
        'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-title: 'Poppins', BlinkMacSystemFont, -apple-system, 'Avenir Next',
        'Avenir', 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif,
        'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-monospace: monaco, monospace;

    --bold-font: 600;
    --extra-bold-font: 700;

    --xxxsmall-text-size: 0.6rem;
    --xxsmall-text-size: 0.7rem;
    --xsmall-text-size: 0.8rem;
    --small-text-size: 0.9rem;
    --text-size: 0.95rem;
    --med-text-size: 1.25rem;
    --large-text-size: 1.5rem;
    --xlarge-text-size: 2rem;
    --xxlarge-text-size: 2.5rem;
    --xxxlarge-text-size: 3rem;

    // Structure
    --max-width: 1200px;

    --border: none;
    --border-radius-sm: 6px;
    --border-radius: 12px;
    --border-radius-lg: 24px;

    --box-shadow: 0px 5px 40px 0px rgb(0 0 0 / 20%);
    --box-shadow-sm: 0px 2px 24px 0px rgb(0 0 0 / 5%);

    --padding-sm: 6px;
    --padding: 12px;
    --padding-lg: 16px;
    --padding-xl: 24px;

    --margin-xs: 8px;
    --margin-sm: 12px;
    --margin: 24px;
    --margin-lg: 36px;
}

body.dawn-theme {
    --color-primary: #fcf9f4; // BG-background
    --color-primary-1: #faf3e9; // BG-hover background
    --color-primary-2: #f7ecdf; // BG-light background
    --color-primary-3: #f5e6d4; // C-icon
    --color-primary-4: #f1ddc4; // BG-border
    --color-primary-5: #ecd1af; // C-hover content

    --color-transparent: rgba(0, 0, 0, 0.1); // text-select color

    --color-invert-5: #6d768f; // C-light text
    --color-invert-4: #6d768f; // BG-modal background
    --color-invert-3: #5c6377; // C-large text
    --color-invert-2: #5c6377; // C-small text
    --color-invert-1: #4b5160; // BG-invert background
    --color-invert: #4b5160; // C-dark text

    --color-accent: var(--color-orange);
    --color-accent-dark: #9d5828;
    --color-accent-light: var(--color-orange-light);
    --color-accent-lightest: #fdf0e3;

    --color-false: var(--color-orange);
    --color-false-dark: #9d5828;

    --color-blue: #79cdc7;
    --color-blue-dark: #1e7a75;
}

body.dark-theme {
    --color-primary: #302e2f; // BG-background
    --color-primary-1: #3b393b; // BG-hover background
    --color-primary-2: #484547; // BG-light background
    --color-primary-3: #5f5c5d; // C-icon
    --color-primary-4: #7d7d7d; // BG-border
    --color-primary-5: #909090; // C-hover content

    --color-invert-5: #9e9e9e; // C-light text
    --color-invert-4: #bfbfbf; // BG-modal background
    --color-invert-3: #d3d3d3; // C-large text
    --color-invert-2: #efefef; // C-small text
    --color-invert-1: #f7f7f7; // BG-invert background
    --color-invert: #ffffff; // C-dark text

    --color-accent: var(--color-blue-dark);
    --color-accent-dark: var(--color-blue);
    --color-accent-light: var(--color-blue-dark);
    --color-accent-lightest: #254a5d;

    --color-red-dark: #faa198;

    --color-green-dark: #a8d017;

    --bg-invert: var(--color-primary-1);
    --bg-text-select: var(--color-transparent-dark);

    --scroll-bar-color: var(--color-primary-3);

    --text-highlight: rgba(52, 101, 127, 0.5);

    font-weight: 500;
}

body.night-theme {
    --color-primary: #1d335e; // BG-background
    --color-primary-1: #223b6d; // BG-hover background
    --color-primary-2: #2b4b8b; // BG-light background
    --color-primary-3: #345ca9; // C-icon
    --color-primary-4: #406dc4; // BG-border
    --color-primary-5: #5e84cd; // C-hover content

    --color-transparent: rgba(255, 255, 255, 0.1); // text-select color

    --color-invert-5: #cadafb; // C-light text
    --color-invert-4: #cadafb; // BG-modal background
    --color-invert-3: #dce6fc; // C-large text
    --color-invert-2: #dce6fc; // C-small text
    --color-invert-1: #eef3fe; // BG-invert background
    --color-invert: #eef3fe; // C-dark text

    --color-accent: var(--color-yellow);
    --color-accent-dark: var(--color-yellow-light);
    --color-accent-light: #534b94;
    --color-accent-lightest: #3c3c77;

    --bg-invert: var(--color-primary-1);
    --bg-text-select: var(--color-transparent-dark);

    --scroll-bar-color: var(--color-primary-3);

    font-weight: 500;

    --color-red: var(--color-pink);
    --color-red-dark: var(--color-pink-light);
    --color-red-light: var(--color-pink-dark);

    --color-green-dark: #a8d017;

    --tag: var(--text-invert);
}

body.lush-theme {
    --color-primary: #2b433f; // BG-background
    --color-primary-1: #334f4a; // BG-hover background
    --color-primary-2: #3a5b55; // BG-light background
    --color-primary-3: #4a736c; // C-icon
    --color-primary-4: #598b82; // BG-border
    --color-primary-5: #6ba097; // C-hover content

    --color-transparent: rgba(255, 255, 255, 0.1); // text-select color

    --color-invert-5: #fccb7f; // C-light text
    --color-invert-4: #fccb7f; // BG-modal background
    --color-invert-3: #ffd889; // C-large text
    --color-invert-2: #ffd889; // C-small text
    --color-invert-1: #ffd889; // BG-invert background
    --color-invert: #ffd889; // C-dark text

    --color-accent: var(--color-orange);
    --color-accent-dark: var(--color-orange-light);
    --color-accent-light: var(--bg-select);
    --color-accent-lightest: var(--bg-hover);

    --text-hover: #f9bb78;

    --bg-invert: var(--color-primary-1);
    --bg-text-select: var(--color-transparent-dark);

    --scroll-bar-color: var(--color-primary-3);

    font-weight: 500;

    --color-red: #e87d6a;
    --color-red-dark: #e87d6a;

    --tag: var(--text-invert);
}
