.QuerySnippetNavigator {
    .snippets-wrapper {
        flex: 1;
        position: relative;
        overflow: hidden;
    }

    .snippet-search {
        border-bottom: var(--border);
        .SearchBar {
            flex-grow: 1;
        }
        .IconButton {
            padding: 4px;
            .lucide-filter {
                padding: 1px;
            }
        }
    }
}

.QuerySnippetFilterPicker {
    .FormField:first-child {
        margin-top: 0px;
    }
}

.Modal .QuerySnippetNavigator {
    .list-header,
    .list-content {
        margin-right: 0px;
        margin-left: 0px;
    }
    .list-header {
        background-color: var(--bg-lightest);
    }
}
