.DataDocQueryExecutions {
    font-size: var(--xsmall-text-size);
    font-weight: 700;

    .execution-selector-section {
        margin-top: 8px;

        .execution-selector-bottom {
            margin-left: auto;
            > span {
                margin-left: 4px;
            }
        }
    }

    .QueryExecution {
        margin-top: 2px;
    }
}
