.BoardNavigator {
    display: flex;
    flex-direction: column;
    height: 100%;

    .BoardList {
        flex: 1;
    }

    .board-info-panel {
        border-top: var(--border);
        .BoardMiniView {
            height: 100%;
        }
    }
}
