.DAG {
    position: relative;
    svg {
        width: 100%;
        height: 100%;
        // Strange issue: svg doesn't
        // take full height unless position is forced
        // to be absolute
        position: absolute;
    }

    .node {
        cursor: pointer;
    }

    .node rect {
        fill: var(--bg-light);
        stroke-width: 4px;
    }

    .node text {
        fill: var(--text);
        font-weight: bold;
    }

    .edgePath path {
        stroke: var(--bg-dark);
        stroke-width: 1.5px;
    }

    .edgePath marker {
        fill: var(--bg-dark);
    }
}
