@import './../../scss_variables.scss';

.ListLink {
    display: flex;
    align-items: center;
    padding: 6px 4px;
    color: var(--text-dark);
    cursor: pointer;
    user-select: none;

    .ListLinkText,
    .ListLinkPlaceholder {
        flex-grow: 1;
        margin-left: 4px;
        line-height: 27px;
        @include one-line-ellipsis();

        &:last-child {
            margin-right: 28px;
        }
    }

    .ListLinkText + .Icon,
    .Icon + .Icon {
        margin-left: 8px;
    }

    &.row {
        .ListLinkText,
        .ListLinkPlaceholder {
            line-height: normal;
            margin-left: 0px;
        }
        .Icon + .ListLinkText {
            margin-left: 4px !important;
        }
    }

    &.selected {
        font-weight: var(--bold-font);
        color: var(--color-accent-dark);
    }
}
