.DataDocCell {
    border-radius: var(--border-radius);
    margin: 48px 16px;
    &.collapsed {
        min-height: 0px;
        cursor: nesw-resize;
    }
    .DataDocChartCell-table-title {
        font-size: var(--text-size);
        font-weight: var(--bold-font);
    }
}
