.DataTableTags {
    flex-wrap: wrap;

    .Tag {
        margin: 4px 8px 4px 0px;
    }

    .DataTableTags-add {
        background-color: var(--tag-bg-color);
        border-radius: var(--border-radius);
        padding: 3px;
        .DataTableTags-input {
            .DebouncedInput {
                display: flex;
                input {
                    padding: 0px 2px;
                    width: 100px;
                    font-size: var(--xsmall-text-size);
                }
            }
        }
        .IconButton {
            padding: 0px;
            svg {
                padding: 2px;
            }
        }
    }
}
