.ExecutedQueryCell {
    border-radius: 5px;
    background: var(--bg-query-editor);

    .execution-header {
        margin: 0;
        padding: 10px;
        border-bottom: var(--border);
    }

    .code-highlight {
        background-color: var(--bg-text-select);
    }
}
