.ExecutedQueryCell {
    border-radius: var(--border-radius-sm);

    .engine-text {
        color: var(--text-light);
        text-transform: uppercase;
        font-weight: normal;
    }

    .code-highlight {
        background-color: var(--bg-text-select);
    }
}
