.QueryExecution {
    position: relative;

    .statement-header {
        display: flex;

        .statement-header-bottom {
            margin-left: auto;
        }
    }

    .query-execution-content {
        display: flex;
        flex-direction: column;
    }

    .query-execution-button-wrapper {
        display: flex;
    }

    .statement-selector-button {
        display: inline-block;
    }

    .run-time-message {
        color: var(--text-light);
        font-weight: normal;
    }
}
