.QueryError {
    .ExecutedQueryCell {
        margin-top: 5px;
    }

    .QueryError-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
        .QueryError-title {
            font-size: 1rem;
            .Icon {
                padding-right: 8px;
            }
        }
    }
    .QueryError-content {
        .ShowMoreText {
            display: block;
            overflow: hidden;
            word-break: break-all;
        }
    }
}
