.LightBox {
    width: 100%;
    height: 100%;
    background-color: var(--modal-bg-color);
    opacity: 0.85;

    .LightBox-box {
        background-color: var(--bg-color);
        padding: 30px;
        border: var(--border);
        border-radius: var(--border-radius);

        z-index: 40;
    }
}
