.KeyContentDisplay {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    cursor: default;

    .KeyContentDisplay-key {
        width: 180px;
        margin-right: 12px;
    }
    .KeyContentDisplay-content {
        width: 100%;
        align-self: center;
        .EditableTextField {
            margin-left: -4px;
            .editor-wrapper {
                border: var(--border);
                border-radius: var(--border-radius);
                background-color: var(--bg-color);
            }
        }
        &.right-align {
            max-width: 120px;
        }
    }
}
