.KeyContentDisplay {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    cursor: default;

    .KeyContentDisplay-key {
        width: 180px;
        margin-right: 12px;
        color: var(--text-dark);
        font-size: var(--text-size);
    }
    .KeyContentDisplay-content {
        width: 100%;
        align-self: center;

        &.right-align {
            max-width: 80px;
        }
    }
}
