@import './../../scss_variables.scss';

.DataDocNavigator {
    display: flex;
    flex-direction: column;
    height: 100%;

    .data-docs {
        overflow-y: auto;
    }

    .IconButton {
        padding: 4px;
    }

    .list-header {
        display: flex;
        border-bottom: 1px solid var(--border-color);
        justify-content: space-between;

        // for safari
        flex-shrink: 0;
        .SearchBar {
            flex-grow: 1;
            input {
                width: 100%;
                padding: 12px;
            }
        }
    }

    .tabs {
        padding-top: 5px;
    }

    .datahub-table-filters {
        height: 30px;
        margin: 10px;
        position: relative;
        box-sizing: border-box;
    }

    .data-docs-list-separator {
        border-bottom: 5px solid var(--border-color);
    }

    .data-docs-list-header {
        background: var(--border-color);
        padding: 2px 10px;
        font-size: var(--xsmall-text-size);
    }

    .DataDocGridItem {
        border-left: solid 6px transparent;
        padding: 4px 10px 4px 4px;
        color: var(--dark-text-color);
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;

        &:hover {
            background-color: var(--color-accent-bg-hover);
        }

        &.selected {
            border-color: var(--color-accent-bg);
            font-weight: var(--bold-font);
        }

        .analysis-title {
            padding: 0px 4px;
            font-size: var(--small-text-size);
            line-height: 27px;
            flex: 1;
            @include one-line-ellipsis();

            &.empty-title {
                opacity: 0.7;
                font-style: italic;
            }
        }
    }
}

@-moz-document url-prefix() {
    .DataDocNavigator .data-docs .analysis.list-item {
        white-space: nowrap;
    }
}
