.DataTableViewSamples {
    .samples-control {
        margin-bottom: 5px;
        .samples-control-controller {
            display: flex;
            > div {
                margin-right: 5px;
            }
        }
    }

    .samples-not-found {
        text-align: center;
    }
}
