.DataDocAccessRequestPermissionPicker {
    .permission-text {
        margin-right: 0.5rem;
        cursor: pointer;
        justify-content: flex-end;

        .caret-icon {
            margin-right: 0.25rem;
        }
    }

    .access-request-control-button {
        padding-top: 0px;
        padding-bottom: 5px;
    }
}
