@import '../../scss_variables.scss';

.DataTableColumnCard {
    .Card {
        margin: 16px 0px;

        .DataTableColumnCard-top {
            cursor: pointer;
            .DataTableColumnCard-left {
                display: flex;
                flex-direction: row;
                align-items: baseline;
            }
        }

        .DataTableColumnCard-preview {
            @include one-line-ellipsis();
            width: 95%;
        }
    }
}
