.DebouncedPasswordInput {
    position: relative;
    .password-eye-icon {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translate(0%, -50%);
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
        background-color: transparent;
    }

    &:hover {
        .password-eye-icon {
            opacity: 1;
        }
    }
}
