.DebouncedInput {
    &.flex {
        display: flex;
        input,
        .Text {
            flex-grow: 1;
        }
    }

    &.transparent {
        input {
            border: none;
            background-color: transparent;
        }
    }
}
