.TaskStatus {
    .TaskStatus-controls {
        margin-bottom: 12px;
        .SearchBar {
            width: 360px;
            margin-right: 8px;
        }
    }
    .Table {
        overflow-x: scroll;
    }
}

.Modal {
    .TaskStatus {
        margin: 12px 24px;
    }
}
