.TaskEditor {
    width: 100%;
    .TaskEditor-top {
        align-items: flex-end;
        .TaskEditor-name {
            font-size: var(--xlarge-text-size);
            font-weight: var(--bold-font);
        }
    }
    .Tabs {
        li {
            min-width: 120px;
        }
    }
    .TaskEditor-content {
        .TaskStatus {
            .ReactTable {
                .rt-table {
                    .rt-th,
                    .rt-td {
                        padding: 4px 16px;
                    }
                }
            }
        }
    }
}
