<!DOCTYPE html>
<html lang="en">
    <head>
        <style type="text/css">
            p {
                font-size: 16px;
            }
        </style>
    </head>

    <body>
        <p>Hi {{ username }},</p>
        <p>
            {% if query_execution.status == 2 %} Your query has completed. {%
            elif query_execution.status == 3 %} Your query failed to execute. {%
            endif %}
        </p>
        <p>Click to see the query in DataHub:</p>
        <ul>
            {% if doc_id is not none and cell_id is not none %}
            <li>
                <strong>
                    <a
                        href="{{ public_url }}/{{ env_name }}/datadoc/{{
                            doc_id
                        }}/?cellId={{ cell_id }}&executionId={{
                            query_execution.id
                        }}"
                        >DataDoc</a
                    >
                </strong>
            </li>
            {% endif %}
            <li>
                <strong>
                    <a
                        href="{{ public_url }}/{{ env_name }}/query_execution/{{
                            query_execution.id
                        }}/"
                        >Execution</a
                    >
                </strong>
            </li>
        </ul>
    </body>
</html>
