@import './../../scss_variables.scss';

.DataDocQueryCell {
    .query-title {
        flex: 1;

        input.Title,
        span {
            font-weight: bold;
        }
        input.Title {
            font-size: var(--large-text-size);
            color: var(--dark-text-color);
            text-overflow: ellipsis;
        }
        span {
            font-size: var(--med-text-size);
            color: var(--light-text-color);
            margin-right: 8px;
        }
    }

    .data-doc-query-cell-inner {
        .query-metadata {
            display: flex;
            margin-bottom: 5px;

            .query-engine-name {
                font-size: var(--text-size);
            }

            .additional-dropdown-button {
                @include pushable();
                @include fancy-hover();

                cursor: pointer;
                margin-left: 5px;

                height: 100%;
                font-size: 20px;
                line-height: 38px;

                svg {
                    z-index: 4;
                }
            }
        }

        .editor {
            position: relative;
            box-sizing: border-box;
            margin: 5px 0px;

            .QueryEditor {
                .CodeMirror {
                    border-radius: var(--border-radius);

                    .CodeMirror-scroll,
                    .CodeMirror-sizer {
                        max-height: 50vh;
                    }
                }
            }
        }
    }

    .add-snippet-wrapper {
        text-align: center;
        margin-top: 5px;
    }
}
