.DataDocDAGExporter {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .DataDocDAGExporter-header {
        display: flex;
        justify-content: space-between;
        padding: var(--padding);
    }

    .DataDocDAGExporter-body {
        flex: 1;
        display: flex;

        .DataDocDAGExporterList {
            width: 320px;
            overflow-y: auto;
            padding: 0 var(--padding);

            .DataDocDAGExporterListItem {
                background-color: var(--bg-lightest);
                border-radius: var(--border-radius-sm);
                cursor: grab;

                &:hover {
                    background-color: var(--bg-hover);
                }
            }
        }

        .DataDocDAGExporter-graph-wrapper {
            flex: 1;
            position: relative;

            .DataDocDAGExporterGraph {
                width: 100%;
                height: 100%;
            }
        }

        .DataDocDAGExporterSettings {
            width: 320px;
            height: 100%;
            margin-left: var(--padding);
            padding: var(--padding);
            background: var(--bg-lightest);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .DataDocDAGExporterSettings-form {
                > .FormField:first-child {
                    width: 100%;
                    .FormFieldLabelSection {
                        margin-top: 0px;
                    }
                }
            }

            .DataDocDAGExporter-bottom {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
