.DataDocSchemaNavigator {
    .DataTableNavigator {
        flex: 1 0 200px;
    }

    .schema-info-panel {
        min-height: 20%;
        max-height: 80%;
        margin: 0px -4px;

        .DataTableViewMini {
            border-top: var(--border);
            height: 100%;
            margin-left: 8px;
        }
    }
}
