.DataTableHeader {
    .DataTableHeader-top,
    .DataTableHeader-bottom {
        display: flex;
        justify-content: space-between;
    }
    .DataTableHeader-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .DataTableHeader-bottom {
        .DataTableHeader-left {
            .DataTableHeader-owner {
                .DataTableHeader-owner-list {
                    flex-wrap: wrap;
                    span:first-child {
                        font-weight: 600;
                    }
                    .UserBadge {
                        margin-right: 8px;
                    }
                }
                .Button {
                    margin-left: 0px;
                }
            }
        }
        .DataTableHeader-right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .DataTableHeader-featured {
                .golden-switch-text {
                    text-transform: uppercase;
                    font-size: var(--xsmall-text-size);
                    font-weight: 600;
                    margin-top: 4px;
                    margin-right: 8px;
                }
                .Tag,
                .Button {
                    margin-right: 0px;
                }
            }
        }
    }
}
