@media only screen and (min-width: 1024px) {
    .navbar {
        .navbar__inner {
            max-width: var(--ifm-container-width);
            margin: auto;
        }
    }
}

.navbar {
    background-color: transparent;
    &:not(.navbar-sidebar--show) {
        backdrop-filter: blur(5px);
    }
}

body {
    &.no-nav-border {
        .navbar {
            box-shadow: none;
        }
    }
}

:root {
    --ifm-navbar-background-color: transparent;

    --ifm-color-primary: #6cc7c4;
    --ifm-color-primary-dark: #56bfbb;
    --ifm-color-primary-darker: #4bbab7;
    --ifm-color-primary-darkest: #3b9c98;
    --ifm-color-primary-light: #82cfcd;
    --ifm-color-primary-lighter: #8dd4d1;
    --ifm-color-primary-lightest: #afe0df;
}

html[data-theme='dark'] {
    --ifm-color-primary-lightest: #f9a8c5;
    --ifm-color-primary-lighter: #f896b9;
    --ifm-color-primary-light: #f683ad;
    --ifm-color-primary: #f16f9e;
    --ifm-color-primary-dark: #eb5a8f;
    --ifm-color-primary-darker: #e64680;
    --ifm-color-primary-darkest: #e12368;
}
