.TokenCreation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
    .TokenCreation-content {
        margin: 10px auto;
    }
}
