.Pagination {
    margin: 15px 0px;
    .Pagination-next {
        order: 3;
        margin-right: 0px;
    }
    .Pagination-previous {
        order: 1;
        margin-left: 0px;
    }

    .Pagination-pages {
        order: 2;
        > li {
            display: flex;
            .Pagination-page-button {
                &.current {
                    border-color: var(--select-border-color);
                }
                &:hover {
                    border-color: var(--hover-border-color);
                }
            }
        }
        .Pagination-ellipsis {
            margin: 5px;
            color: var(--light-text-color);
        }
    }
}
