.Pagination {
    margin: 16px 0px;
    display: flex;
    flex-direction: row;

    .Pagination-previous,
    .Pagination-next,
    .Pagination-pages {
        flex: 1;
        display: flex;
    }

    .Pagination-previous {
        order: 1;
        justify-content: flex-start;
        margin-left: 0px;
        margin-right: auto;
    }
    .Pagination-next {
        order: 3;
        justify-content: flex-end;
        margin-left: auto;
        margin-right: 0px;
    }

    .Pagination-pages {
        order: 2;
        > li {
            display: flex;
            .Pagination-page-button {
                margin: 0 4px;
                &.current {
                    color: var(--text-dark);
                    background-color: var(--bg-select);
                }
                &:hover {
                    background-color: var(--bg-hover);
                }
            }
        }
        .Pagination-ellipsis {
            margin: 4px;
            color: var(--text-light);
        }
    }
}
