.UserSettingsMenu {
    > div {
        margin-bottom: 10px;
    }
    .UserSettingsMenu-setting {
        white-space: nowrap;
        width: 190px;
    }
    .control {
        width: 180px;
        select {
            max-width: 160px;
        }
    }
    .UserSettingsMenu-desc {
        color: var(--text-light);
        flex: 1 0;
    }
}
