.QuerybookTableViewOverview {
    .data-table-details-table.Table {
        .rt-tbody {
            .rt-td {
                white-space: pre-wrap;
            }
        }
    }
    .overview-section-content {
        margin-left: 16px;

        .overview-subtitle {
            color: var(--text-light);
            font-weight: var(--bold-font);
            margin-bottom: 4px;
        }
        .KeyContentDisplay {
            .KeyContentDisplay-key {
                width: 280px;
            }
        }
    }
    .raw-metastore-info{
        word-break: break-all;
    }
    .data-table-table-links {
        display: inline-flex;
        align-items: center;
        gap: 4px;
    }
}
