.DataDocLeftSidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    z-index: 5;
    margin-left: var(--margin-sm);

    display: flex;
    flex-direction: column;

    .sidebar-content {
        margin-top: 38px;

        .contents-toggle-button {
            margin-top: 8px;
            margin-left: 8px;
        }

        &:not(.sidebar-content-default) {
            background-color: var(--bg-lightest);
        }
    }

    .sidebar-content-table,
    .sidebar-content-contents {
        width: 100%;
        height: calc(100vh - 158px);
        max-height: 1200px;
    }

    .sidebar-content-table {
        .DataTableViewMini {
            overflow-x: hidden;
            overflow-y: auto;
            max-height: 100%;
            .DataTableViewMini-header {
                .table-details-button {
                    margin-right: 8px;
                }
            }
        }
    }

    .sidebar-content-contents {
        margin-right: 8px;
        border: var(--border);
        border-left: none;
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;

        .contents-panel-header {
            padding-right: var(--padding);
            background-color: var(--bg-light);
            margin-bottom: var(--margin-xs);
            border-top-right-radius: var(--border-radius);
            border-top-left-radius: var(--border-radius);

            user-select: none;
            font-weight: var(--bold-font);
            color: var(--text-light);
        }
    }

    &.hidden {
        visibility: hidden;
    }
}
