.ImpressionWidgetMenu {
    min-width: 500px;
    .ImpressionWidgetUsers,
    .ImpressionWidgetTimeseries {
        flex: 1;
        margin-top: 8px;
        width: 100%;
    }

    .ImpressionWidgetUsers {
        .Table {
            border-radius: 0;
        }
    }
}
