.QueryRunButton {
    .run-selection {
        line-height: 24px;
    }

    .Button {
        background: var(--light-bg-color);
        color: var(--empty-text-color);
        border: none;
        padding: 8px 40px;
        margin-right: 0px;

        &:hover {
            background: var(--hover-bg-color);
            color: var(--text-color);
        }
    }
}

.QueryEngineSelector {
    display: inline-block;

    .engine-selector-button {
        padding: 9.5px 15px;
        border-radius: var(--border-radius);

        user-select: none;

        font-weight: bold;
        color: var(--light-text-color);
        font-size: var(--small-text-size);

        &:hover {
            background: var(--hover-bg-color);
            color: var(--text-color);
        }

        .fa {
            margin-left: 5px;
        }
    }

    &.readonly {
        line-height: 36px;
    }
}
