.ScheduledTaskEditor {
    .ScheduledTaskEditor-title {
        font-weight: var(--bold-font);
        margin-bottom: 8px;
        font-size: var(--med-text-size);
    }
    .ScheduledTaskEditor-info {
        margin-bottom: 8px;
    }
    .ScheduledTaskEditor-controls {
        div:first-child {
            flex-grow: 1;
            margin-left: 0px;
        }
        .FormField {
            .FormFieldLabelSection {
                min-width: 0px;
            }
            .FormFieldInputSection {
                .DebouncedInput {
                    input {
                        background-color: var(--bg-color);
                    }
                }
            }
        }
    }
    .ScheduledTaskEditor-schedule {
        background-color: var(--light-bg-color);
        border-radius: var(--border-radius);
        margin: 8px 4px;
        padding: 16px;
    }
}
