@import '../../scss_variables.scss';

.UserBadge {
    .UserBadge-icon {
        margin-right: 16px;
        figure {
            width: 48px;
            height: 48px;
        }
    }
    &.mini {
        figure {
            margin: 0;
            display: inline-block;
            vertical-align: sub;
            width: 24px;
            height: 24px;

            ~ .username {
                margin-left: 4px;
            }
        }
        display: inline-flex;
        flex-direction: row;
        align-items: center;
    }

    .UserBadge-names {
        max-width: 180px;
        .username {
            font-size: var(--large-text-size);
            font-weight: var(--extra-bold-font);
            color: var(--text-dark);
            margin-top: -4px;
        }
        .handle {
            font-size: var(--small-text-size);
            margin-top: -6px;
            color: var(--text-light);
        }
    }
}
