.DataTableViewLineage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .DAG {
        flex: 1;
        border: var(--border);
        border-radius: var(--border-radius);
    }

    .DataTableViewMini {
        position: absolute;
        height: 90%;
        top: 5%;
        width: 24%;
        left: 10px;
        opacity: 0.9;
    }
}

.Modal .DataTableViewLineage {
    min-height: 50vh;
}
