.DataTableViewLineage {
    width: 100%;
    height: 100%;
    .DataTableViewMini {
        height: 720px;
        width: 360px;
    }
    .FlowGraph {
        height: 720px;
    }
}

.Modal .DataTableViewLineage {
    .DataTableViewMini {
        height: 600px;
    }
    .FlowGraph {
        height: 600px;
    }
}
