.GradientText {
    .gradient-content {
        background-image: linear-gradient(90deg, #e60023, #fdc900);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    display: inline-flex;
    position: relative;
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-weight: var(--ifm-heading-font-weight);
        line-height: var(--ifm-heading-line-height);
        white-space: nowrap;
    }
}

.GradientText.text-discover {
    .gradient-content {
        background-image: linear-gradient(90deg, #e60023, #fdc900);
        animation: animation-text-discover 6s infinite;
    }
    &::before {
        content: 'Discover';
        animation: animation-text-discover-rev 6s infinite;
    }
}

.GradientText.text-analyze {
    .gradient-content {
        background-image: linear-gradient(90deg, #003c96, #007cff);
        animation: animation-text-analyze 6s infinite;
    }
    &::before {
        content: 'Analyze';
        animation: animation-text-analyze-rev 6s infinite;
    }
}

.GradientText.text-collaborate {
    .gradient-content {
        background-image: linear-gradient(90deg, #770dff, #ee376a);
        animation: animation-text-collaborate 6s infinite;
    }
    &::before {
        content: 'Collaborate';
        animation: animation-text-collaborate-rev 6s infinite;
    }
}

@keyframes animation-text-discover {
    0%,
    27%,
    100% {
        opacity: 1;
    }
    33%,
    94% {
        opacity: 0;
    }
}

@keyframes animation-text-discover-rev {
    0%,
    27%,
    100% {
        opacity: 0;
    }
    33%,
    94% {
        opacity: 1;
    }
}

@keyframes animation-text-analyze {
    0%,
    27% {
        opacity: 0;
    }
    33%,
    60% {
        opacity: 1;
    }
    66%,
    100% {
        opacity: 0;
    }
}

@keyframes animation-text-analyze-rev {
    0%,
    27% {
        opacity: 1;
    }
    33%,
    60% {
        opacity: 0;
    }
    66%,
    100% {
        opacity: 1;
    }
}

@keyframes animation-text-collaborate {
    0%,
    60%,
    100% {
        opacity: 0;
    }
    66%,
    94% {
        opacity: 1;
    }
}

@keyframes animation-text-collaborate-rev {
    0%,
    60%,
    100% {
        opacity: 1;
    }
    66%,
    94% {
        opacity: 0;
    }
}
