@import './../../scss_variables.scss';

.DataDocStatementExecution {
    width: 100%;

    .statement-execution-content {
        position: relative;
        box-sizing: border-box;
        background: transparent;
        margin-bottom: 0px;
        padding: 0px;
        border-radius: 0px;

        .statement-execution-text-title {
            font-size: var(--small-text-size);
            margin-bottom: 4px;
            text-transform: uppercase;
        }

        .statement-execution-no-output {
            text-align: center;
            font-size: var(--med-text-size);
            user-select: none;

            padding: 8px;
            font-weight: bold;
            color: var(--text-light);
        }

        .statement-execution-progress-wrapper {
            margin-bottom: 10px;

            progress {
                width: 40%;
                display: inline-block;
            }
        }
    }

    .statement-execution-footer {
        .statement-time-display {
            text-align: left;
        }
    }
}

.StatementResult {
    &.fullscreen {
        display: flex;
        flex-direction: column;
        background-color: var(--bg);
        padding: 8px 16px;

        .StatementResultTable {
            overflow: hidden;
            display: flex;
            .Table {
                flex: 1;
                overflow: auto;
            }
        }
    }

    .statement-results-summary {
        .number-of-rows-message {
            font-weight: normal;
            .warning-word {
                color: var(--color-false);
            }
        }

        .view-type-switcher {
            // Temporal style

            .view-type-button {
                padding: 0px 4px;
                margin: 0px 4px;
                line-height: 1.5;
                @include query-execution-button();

                cursor: pointer;

                &.selected {
                    color: var(--text-light);
                }
            }
        }
    }
}
