@charset "utf-8";
#root {
    height: 100%;
}

#root,
#overlay-root,
#notification-root {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font-sans-serif);
    font-size: var(--small-text-size);
}

.app-splash {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
}

.app-splash-text {
    color: var(--text-light);
    font-size: var(--small-text-size);

    &:after {
        overflow: hidden;
        display: inline-flex;
        vertical-align: bottom;
        animation: ellipsis steps(4, end) 900ms infinite;
        content: '...';
        width: 0px;
    }
}

.empty-message {
    color: var(--text-lightest);
    font-weight: var(--bold-font);
    display: flex;
    justify-content: center;
    font-size: var(--large-text-size);
}

.ReactVirtualized__Grid {
    outline: none;
}

@import './stylesheets/_html.scss';
