.ImpressionWidget {
    background-color: var(--icon-light);
    color: var(--text-invert);
    border-radius: var(--border-radius-sm);
    display: inline-flex;
    align-items: center;
    padding: 0px 4px;
    font-weight: bold;
    cursor: pointer;
    font-size: var(--small-text-size);
    user-select: none;
    line-height: 19px;
}
