.DataDocCell {
    border-radius: var(--border-radius);
    margin: 36px 12px;
    &.collapsed {
        min-height: 0px;
        cursor: nesw-resize;
    }
    .chart-cell-controls {
        align-items: flex-start;
    }
}
