.DataDocCell {
    border-radius: var(--border-radius);
    margin: 36px 12px;
    &.collapsed {
        min-height: 0px;
        cursor: nesw-resize;
    }

    .empty-message {
        font-size: var(--xlarge-text-size);
    }
}
