@import './../../scss_variables.scss';

.ListLink {
    display: flex;
    align-items: center;
    border-left: solid 6px transparent;
    padding: 4px 10px 4px 4px;
    color: var(--dark-text-color);
    cursor: pointer;
    user-select: none;

    .ListLinkText {
        flex-grow: 1;
        margin-left: 4px;
        margin-right: 8px;
        font-size: var(--small-text-size);
        line-height: 27px;
        @include one-line-ellipsis();
    }
    .Icon {
        flex-shrink: 1;
        svg {
            padding: 20%;
        }
    }

    &.row {
        padding: 4.5px 10px 4.5px 4.5px;
        .ListLinkText {
            line-height: normal;
        }
    }
    &.empty-title {
        .ListLinkText {
            opacity: 0.7;
            font-style: italic;
        }
    }

    &.selected {
        border-color: var(--color-accent-bg);
        font-weight: var(--bold-font);
    }
    &:hover {
        background-color: var(--color-accent-bg-hover);
        color: var(--dark-text-color);
    }
}
