.ShowMoreList {
    span {
        margin-left: 0px;
        display: block;
    }
    .ShowMoreList-click {
        cursor: pointer;
        white-space: nowrap;
        text-decoration: underline;
    }
}
