.FlowGraph {
    height: 100%;
    width: 100%;

    .react-flow__node {
        width: auto;
    }

    .react-flow__handle {
        border: 3px solid var(--bg-dark);
    }

    .react-flow__minimap {
        background-color: var(--bg);
        .react-flow__minimap-node {
            fill: var(--bg-light);
            stroke: none;
        }
    }

    .react-flow__controls {
        border-radius: var(--border-radius-sm);
        overflow: hidden;

        .react-flow__controls-button {
            background: var(--bg-light);
            border-bottom: none;
        }
    }

    .react-flow__attribution {
        display: none;
    }
}
