.LineageNode {
    background-color: var(--bg-lightest);
    border-radius: var(--border-radius-sm);
    padding: var(--padding-sm) var(--padding);
    color: var(--text);

    &.selected {
        background-color: var(--bg-light);
    }

    .LineageNode-label {
        cursor: pointer;
    }
    .IconButton {
        color: var(--icon-light);
    }
}
