.QueryCellNode {
    background-color: var(--bg-lightest);
    border-radius: var(--border-radius-sm);
    padding: var(--padding) var(--padding);
    color: var(--text);
    position: relative;

    &.updated {
        background-color: var(--color-true-light);
    }

    &.selected {
        background-color: var(--color-accent-lightest-0);
        .react-flow__handle {
            border-color: var(--color-accent-light);
        }
        .QueryCellNode-label {
            color: var(--color-accent-dark);
        }
        .Tag {
            color: var(--color-accent);
        }
    }

    .QueryCellNode-toolbar {
        position: absolute;
        left: 0;
        top: -36px;
        background: var(--bg-lightest);
        border-radius: 4px;

        .IconButon {
            padding: 8px;
        }
    }

    .QueryCellNode-tag {
        padding: 0;
        margin-right: 4px;
        font-size: var(--xxxsmall-text-size);
        background-color: transparent;
    }

    .QueryCellNode-label {
        cursor: grab;
    }
}
