.DataTableViewQueryExamples {
    .filter-selection-section {
        .Button.active {
            background-color: var(--color-accent-lightest);
            color: var(--color-accent-dark);
        }

        .section-title {
            margin-bottom: 4px;
            font-size: var(--text-size);
            font-weight: var(--bold-font);
            color: var(--text-light);
        }
    }

    .DataTableViewQueryExamples-item {
        position: relative;
        margin-top: 24px;

        .DataTableViewQueryExamples-query {
            height: auto;
            max-height: 360px;
            overflow-y: auto;
            border-radius: var(--border-radius);
        }

        .DataTableViewQueryExamples-info {
            text-align: right;
            margin-right: 8px;
            margin-top: 8px;
            span:first-child {
                color: var(--text-light);
            }
            span:last-child {
                font-weight: var(--bold-font);
            }
        }

        .Button {
            position: absolute;
            top: 0px;
            right: 20px;
        }
    }
}

.DataTableViewQueryUsers,
.DataTableViewQueryConcurrences {
    .query-filter-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .Button {
            margin-right: 4px;
            margin-top: 4px;
        }
    }
}
