.QueryEngineStatusViewer {
    .status {
        .FormSectionHeader {
            margin-top: 0px;
        }
    }
    .updated-text {
        span:first-child {
            color: var(--text-light);
        }
        span:last-child {
            font-weight: var(--light-bold-font);
        }
    }
}
