.Modal {
    .Modal-top,
    .Modal-bottom {
        margin: 16px 24px 0px;
    }

    .Modal-top {
        font-family: var(--font-title);
        .Modal-title {
            font-size: var(--xlarge-text-size);
            font-weight: var(--extra-bold-font);
            color: var(--text-dark);
        }
    }

    .Modal-close {
        position: absolute;
        right: 8px;
        top: 8px;
        padding: 0;
    }

    .FullScreenModal,
    .StandardModal {
        z-index: 300;
        display: flex;
        flex-direction: column;
    }

    .StandardModal {
        padding-top: 8vh;
        align-items: center;
        overflow: hidden;

        &.wide {
            .Modal-box {
                max-width: var(--max-width);
            }
        }

        &.message-size {
            .Modal-box {
                width: 600px;
            }
        }

        &.no-scroll .Modal-box .Modal-content {
            overflow: hidden;
        }

        .Modal-background {
            background-color: var(--bg-invert);
            opacity: 0.75;
        }

        &.is-active .Modal-box {
            opacity: 1;
            transform: none;
        }

        .Modal-box {
            width: 90vw;
            min-width: 400px;
            max-width: var(--max-width);
            max-height: 84vh;
            margin: 0 auto;
            border: var(--border);
            border-radius: var(--border-radius);
            background-color: var(--bg);
            overflow-y: hidden;
            display: flex;
            flex-direction: column;
            position: relative;

            opacity: 0;
            transform: translate(0, 5vh);
            transition: all 0.2s ease-out;

            .Modal-content {
                max-height: inherit;
                height: auto;
                overflow-y: auto;
                margin-top: var(--margin);
                padding: var(--padding-xl);
                padding-top: 0px;
            }
        }
    }

    .FullScreenModal {
        background-color: var(--bg);
        max-height: 100vh;
        max-width: 100vw;
        .Modal-content {
            position: relative;
            height: 100%;
        }
    }
}
