.Checkbox {
    label {
        line-height: 1;
        white-space: nowrap;
        position: relative;

        display: flex;
        flex-direction: row;
        align-items: center;

        cursor: pointer;
        user-select: none;

        input[type='checkbox'] {
            appearance: unset;
            cursor: pointer;
            width: 16px;
            height: 16px;
            outline: none;
            margin-right: var(--margin-xs);
        }

        &.checked::before {
            content: '✓';
            color: var(--color-accent);
            font-weight: bold;
            width: 12px;
            height: 12px;
            display: block;
            margin: 0px 1px;
            font-size: 14px;
            border-radius: var(--border-radius-sm);
            cursor: pointer;
            pointer-events: none;

            position: absolute;
            left: 1px;
            top: 1px;
        }
    }
}
