.Tip {
    .Tip-item {
        .Icon {
            color: var(--color-accent);
            margin-right: 4px;
            svg {
                padding: 4px;
            }
        }
        font-size: var(--text-size);
    }
}
