.BoardMiniView {
    background: var(--light-bg-color);
    display: flex;
    flex-direction: column;

    .board-header {
        padding: 10px 10px 0px 10px;
        .board-header-controls {
            visibility: hidden;
            .Icon {
                svg {
                    padding: 8%;
                }
            }
        }
    }
    &:hover {
        .board-header .board-header-controls {
            visibility: visible;
        }
    }

    .board-item-lists {
        padding: 4px 0px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .board-item-list {
        margin-bottom: 8px;

        .board-item-list-row {
            .board-item-name-section {
                overflow: hidden; // needed for name ... to work
                .Icon {
                    margin-right: 4px;
                }
            }

            .delete-board-item-button {
                visibility: hidden;
            }
            &:hover {
                .delete-board-item-button {
                    visibility: visible;
                }
            }
        }

        .board-item-list-header {
            user-select: none;
        }

        .board-item-list-header,
        .board-item-list-row {
            padding: 0px 10px;
            cursor: pointer;

            color: var(--title-color);
            &:hover {
                color: var(--dark-text-color);
            }
        }

        .board-item-list-empty {
            padding: 0px 10px;
            color: var(--light-text-color);
        }
    }
}
