.IconButton {
    cursor: pointer;
    padding: 10px;
    color: var(--icon);
    transition: color 0.2s ease-out;
    transition: fill 0.2s ease-out;
    display: inline-flex;
    position: relative;

    &.invert-circle {
        background-color: var(--bg-lightest);
        padding: 4px;
        border-radius: 50%;

        &:hover {
            background-color: var(--bg-hover);
        }
    }

    &.no-padding {
        padding: 0px;
    }

    &:not(.disabled) {
        &:hover {
            color: var(--icon-hover);
        }
        &.active {
            color: var(--color-accent-dark);
        }
    }

    &.disabled {
        cursor: not-allowed;
    }

    &.with-title {
        width: 100%;
        padding: 10px 4px 8px;
        display: flex;
        justify-content: center;
    }

    .ping,
    .ping-message {
        position: absolute;
        cursor: default;
        border-radius: 100px;
        background-color: var(--color-accent-dark);
    }

    .ping {
        right: 8px;
        top: 8px;

        width: 12px;
        height: 12px;
    }

    .ping-message {
        right: 4px;
        top: 4px;
        padding: 1px 6px 0px 6px;
        color: var(--color-accent-lightest-0);
        font-weight: var(--bold-font);
    }

    .icon-title {
        padding-top: 2px;
    }
}
