.InfoButtonIcon {
    cursor: pointer;
    margin: 4px;
    display: flex;
    &:hover {
        color: var(--icon-hover);
    }
}
.info-button-popover {
    padding: 12px 8px 12px 12px;
    max-width: 320px;
}
