.TextToggleButton {
    font-size: var(--small-text-size);
    color: var(--text-light);
    font-weight: var(--bold-font);
    user-select: none;

    &.active {
        color: var(--color-accent-dark);
    }
}
