.Dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .Dropdown-trigger {
        cursor: pointer;
        display: flex;
        justify-content: center;
    }

    .Dropdown-menu {
        left: 0;
        min-width: 80px;
        position: absolute;
        top: 100%;
        z-index: 20;
        box-shadow: var(--box-shadow-md);
        border-radius: var(--border-radius-sm);
        font-size: var(--small-text-size);
    }

    &.is-right {
        .Dropdown-menu {
            left: auto;
            right: 0;
        }
    }
    &.is-up {
        .Dropdown-menu {
            bottom: 100%;
            padding-bottom: 4px;
            padding-top: initial;
            top: auto;
        }
    }

    &.Dropdown-nested-menu {
        .Dropdown-menu {
            top: 0px;
            left: 0px;
            margin-left: calc(100% + 8px);
        }
    }
    &.Dropdown-nested-menu.nested-right {
        .Dropdown-menu {
            left: auto;
            right: 0px;
            margin-right: calc(100% + 8px);
        }
    }
}
