.Dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .Dropdown-trigger {
        cursor: pointer;
        display: flex;
        justify-content: center;
    }

    .Dropdown-menu {
        left: 0;
        min-width: 80px;
        position: absolute;
        top: 100%;
        z-index: 20;
        box-shadow: var(--box-shadow-md);
        border-radius: var(--border-radius-sm);
        font-size: var(--small-text-size);
    }

    &.is-right {
        .Dropdown-menu {
            left: auto;
            right: 0;
        }
    }
    &.is-up {
        .Dropdown-menu {
            bottom: 100%;
            padding-bottom: 4px;
            padding-top: initial;
            top: auto;
        }
    }

    &.Dropdown-nested-menu {
        .Dropdown-menu {
            display: flex;
            top: 0px;
        }
        &:not(.nested-right) {
            .Dropdown-menu {
                left: 100%;
                margin-left: 8px;

                &::before {
                    content: ' ';
                    width: 8px;
                }
            }
        }
        &.nested-right {
            .Dropdown-menu {
                right: 0px;
                margin-right: 100%;
            }
        }
    }
}

// only if it's a truly nested menu
.Menu .Dropdown.Dropdown-nested-menu.nested-right .Dropdown-menu::after {
    content: ' ';
    width: 8px;
}
