.DataTableNavigator {
    .navigator-metastore-picker {
        display: flex;
        justify-content: center;
        padding-top: 4px;

        .control select {
            background-color: var(--bg-select);
            border-radius: var(--border-radius-sm);
        }
    }

    .table-scroll-wrapper {
        flex: 1;
    }

    .tabs {
        padding-top: 5px;
    }
}
