.DataTableNavigator {
    height: 100%;
    display: flex;
    flex-direction: column;

    .navigator-metastore-picker {
        display: flex;
        justify-content: center;
        border-bottom: var(--border);

        .control {
            margin: 5px;
        }
    }

    .table-scroll-wrapper {
        flex: 1;
    }

    .tabs {
        padding-top: 5px;
    }
}
