.DataTableHoverContent {
    max-width: 400px;

    .DataTableTags {
        margin-bottom: 4px;
        margin-left: -2px;
    }

    .DataTableHoverContent-name {
        word-break: break-all;
    }
}
