name: Tests
on:
    push:
        branches:
            - master
    pull_request:
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-python@v2
            - uses: pre-commit/action@v2.0.0
    nodetests:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '14'
            - name: Get yarn cache directory path
              id: yarn-cache-dir-path
              run: echo "::set-output name=dir::$(yarn cache dir)"
            - uses: actions/cache@v2
              id: yarn-cache
              with:
                  path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
                  key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-yarn-
            - run: yarn install --frozen-lockfile
              # if: steps.yarn-cache.outputs.cache-hit != 'true'
            - run: NODE_ENV=test ./node_modules/.bin/jest
            - run: npm run tsc-check
            - run: npm run lint
            - run: ./node_modules/.bin/webpack --mode=production
    pythontests:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Install libs
              run: >
                  sudo apt-get update && DEBIAN_FRONTEND=noninteractive sudo apt-get install --no-install-recommends -y --allow-downgrades --allow-remove-essential --allow-change-held-packages
                  libsasl2-dev
                  libsasl2-modules
                  build-essential
                  python-dev
                  libssl-dev
                  libldap2-dev
            - uses: actions/setup-python@v2
              with:
                  python-version: 3.7.9
            - uses: actions/cache@v2
              id: pip-cache
              with:
                  path: ~/.cache/pip
                  key: ${{ runner.os }}-pip-${{ hashFiles('**/base.txt') }}
                  restore-keys: |
                      ${{ runner.os }}-pip-
            - name: Install Python dependencies
              # if: steps.pip-cache.outputs.cache-hit != 'true'
              run: |
                  python -m pip install --upgrade pip
                  pip install pytest
                  pip install -r requirements/base.txt
            - run: PYTHONPATH=querybook/server ./querybook/scripts/run_test --python
