.Card {
    justify-content: center;
    background-color: var(--light-bg-color);
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 8px;
    margin: 16px;
    cursor: pointer;

    &:hover {
        border: var(--border);
    }

    .Card-title {
        margin: 0px 16px 16px;
        font-size: var(--med-text-size);
    }

    .Card-content {
        margin: 0px 8px;
        text-align: center;
    }
}
