.DataDocRightSidebar {
    .DataDocRightSidebar-button-section {
        .DataDocRightSidebar-button-section-top {
            .connected-button {
                color: var(--color-false);
            }
            .IconButton {
                transition: opacity 0.2s ease-out;
                &.hide-button {
                    opacity: 0;
                    cursor: unset;
                }
            }
        }
    }

    .schema-panel-wrapper {
        position: fixed;
        right: 0;
        height: 100%;
        display: flex;
    }
}
